
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body{
    font-family: 'Raleway',sans-serif;
    overflow-x: hidden;
    
}
:root{
    font-size: 14px;
    font-weight: 100;
}

.top-header{
    position: relative;
    background-color: #14213d;
    border-bottom: 1px solid#22396b;
    z-index: 1;
}
a{
    text-decoration: none;
    color:#FCA311;
    transition: .3s ease;   
}
a:hover{
    text-decoration: none;
    color: rgb(230, 85, 32);
}

.top-right .row div{
    border-right: 1px solid #a1a1a1;
}

.banner{
    background-color: #14213d;
    position: relative;
    color: #FCA311;
    box-shadow: 0 0 3px black;
}
.tag{
    position: absolute;
    left: 50vw;
    top: -15px;
    transform: translateX(-50%);
    /* //box-shadow: 0px 10px 10px black; */
    color: #FCA311;
    z-index: 2;
    background-color: #14213d;
}

.banner p a{
    color: #FCA311;
}
.banner p:hover a{
    color: rgb(255, 72, 0);
}

main{
    background-color: #FCA311;
}
main .accordion{
    background-color: #14213d;
    color: #FCA311;
    border-radius: 5px;
    box-shadow: 0 0 35px #14213d89;
}
main .accordion .btn strong{
    color: #FCA311;
}
main .accordion .btn:focus{
    outline: none;
    box-shadow: none;
}
.card{
    border-color: #FCA311;
    /* border-bottom: 1px solid #FCA311; */
}

ul>li{
    list-style-type:none;
}

ul>li::before{
    content: "☑";
    color: #ffffff;
    padding-right: 10px;
}

footer{
    background-color: #14213d;
    color:  #FCA311;
    align-items: center;
    box-shadow: 0 -5px 35px #14213d90;
}

.col-sm-3:not(:last-child){
    border-right: 1px solid #a1a1a135;
    
}